$bg-color: #2f0f7ac7;
$vh: 7vh;
@mixin parrafo {
    color: #fcf8f7;
    letter-spacing: .5px;
    font-family: 'Roboto Mono', monospace;
    margin: 0 5px 0 5px;
    text-align: center;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.contenedor {
    display: flex;
    flex-direction: column;
    height: 100vh;
    nav {
        background-color: #FA9937;
        height: $vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .escribiendo {
            width: 50%;
            height: 5vh;
            background-color: rgba(173, 146, 146, 0.61);
        }
        input {
            padding: 2px;
        }
    }
    section {
        height: 100vh - $vh;
        background-color: $bg-color;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        .mensajes {
            max-width: 60vw;
            background-color: rgba(173, 146, 146, 0.61);
            margin: 10px 0 10px 10px;
            p {
                @include parrafo();
            }
        }
        .mensajes-propios {
            max-width: 50vw;
            background-color: rgba(173, 146, 146, 0.61);
            align-self: flex-end;
            overflow-wrap: break-word;
            margin-right: 10px;
            p {
                @include parrafo();
            }
        }
    }
    footer {
        height: $vh;
        background-color: thistle;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &::after {
            content: '\f1d8';
            font-family: 'Font Awesome 5 Free';
            cursor: pointer;
            font-size: 2rem;
            margin: 0 5px 0 5px;
        }
        input {
            width: 90vw;
            padding: 10px;
            margin-left: 10px;
        }
    }
}